.portfolio{
  position: relative;
  padding: 40px;
  background-color: #A7BEB7;
  z-index: 7;
  margin-bottom: -1.5vw;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  display: grid;
  place-items: center;
}
.portfolio-container{
  place-items: center;
  display: grid;
}
#projects{
  height:100%;
  background-color: white;
}

.slider{
  position: relative;
  box-shadow: -3px 6px 23px rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  height:100%;
}

@media (min-width: 100px) and (max-width: 575px) {
  .portfolio-container{
    grid-template-columns: 1fr;
  }
  #projects{
    width: 80vw;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .portfolio-container{
    grid-template-columns: 1fr;
  }
  #projects{
    width: 80vw;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .portfolio-container{
    grid-template-columns: repeat(2, 1fr);
  }
  #projects{
    width: 55vw;
    // margin-left: 12px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .portfolio-container{
    grid-template-columns: repeat(2, 1fr);
  }
  #projects{
    width: 55vw;
    // margin-left: 12px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .portfolio-container{
    grid-template-columns: repeat(2, 1fr);
  }
  #projects{
    width: 35vw;
  }
}
