.skills{
  position: relative;
  height: 60vh;
  background-color: white;
  z-index: 8;
  clip-path: polygon( 0 0, 100% 0, 100% 100%, 0 calc(100% - 1.5vw));
  margin-bottom: -1.5vw;
  display:grid;
  place-items: center;
  color: rgb(125, 125, 160);

}

.skill-container{
  display: flex;
}
