.btn-search{
  background-color: rgb(1, 199, 199);
  border-radius: 50px;
  padding: 2px 18px;
  color: white;
  border: none;
  margin-right: 12px;
  margin-top: 12px;
  &:hover{
    background-color: rgba(1, 199, 199, 0.8);
  }
}

.btn-display{
  margin-bottom: 12px;
  display: flex;
  justify-content: center;
}

.social-media-icon a{
  text-decoration: none;
  color: rgb(1, 199, 199);
  margin-top: 8px;

  &:hover{
    text-decoration: none;
    color: inherit;
  }
}
