.btn-category{
  background-color: rgb(2, 221, 229);
  border-radius: 50px;
  padding: 3px 18px;
  color: white;
  border: none;
  margin-right: 12px;
  &:hover{
    background-color: rgba(2, 221, 229, 0.7);

  }
}

.btn-display{
  margin-bottom: 12px;
  display: flex;
  justify-content: center;
}
