// .project-cards{
//   position: relative;
//   display: grid;
//   grid-template-columns: 1fr 1fr 1fr;
//   grid-gap: 12px;
//   padding: 12px;
//   // margin-right: 30px;
//   p{
//     font-size: 12px;
//   }
//   a{
//     text-decoration: none;
//     color: black;
//   }
// }

.project-card{
  background-color: white;
  text-align: center;
  padding: 12px;

  img{
    height: 200px;
    width: 100%;
    object-fit: contain;
    margin: 8px 0px;
  }
  a{
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
    font-size: 12px;
    &:hover{
      color: rgba(0, 0, 0, 0.6);;
      text-decoration: none;
    }
  }
  p{
    margin-bottom: 0px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.6);
  }
}

.skill-cards{
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: relative;
  grid-gap: 12px;
  width: 30vw;
  color: rgba(0, 0, 0, 0.6);

  padding: 12px;
  p{
    font-size: 12px;
  }
}

.skill-card{
  height: 10vh;
  width: 100%;
  text-align: center;
  img{
    height: 50px;
    width: 100%;
    object-fit: contain;
  }
}

@media (min-width: 100px) and (max-width: 575px) {
  .skill-cards{
    width: 70vw;
  }

}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .skill-cards{
    width: 70vw;
  }

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .skill-cards{
    width: 40vw;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .skill-cards{
    width: 40vw;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .skill-cards{
    width: 30vw;
  }
}
