// .project-cards{
//   position: relative;
//   display: grid;
//   grid-template-columns: 1fr 1fr 1fr;
//   grid-gap: 12px;
//   padding: 12px;
//   // margin-right: 30px;
//   p{
//     font-size: 12px;
//   }
//   a{
//     text-decoration: none;
//     color: black;
//   }
// }

.project-card{
  background-color: white;
  text-align: center;
  width: 600px;
  display: flex;
  align-items: center;
  padding: 12px;
  img{
    height: 200px;
    width: 100%;
    object-fit: contain;
  }
  a{
    color: black;
    text-decoration: none;
    font-size: 16px;
    &:hover{
      color: inherit;
    }
  }
  p{
    margin-bottom: 0px;
    font-size: 12px;
  }
}

.skill-cards{
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: relative;
  grid-gap: 12px;
  width: 500px;
  color: rgba(0, 0, 0, 0.6);
  margin-right: 80px;
  padding: 12px;
  p{
    font-size: 12px;
  }
}

.skill-card{
  height: 80px;
  width: 100%;
  text-align: center;
  img{
    height: 50px;
    width: 100%;
    object-fit: contain;
  }
}
